@import "normalize";
@import "fonts";

$max: 17.944rem;
$hg: 6.854rem;
$lg: 4.236rem;
$med: 2.618rem;
$sm: 1.618rem;
$tny: 1rem;

$gray: #bdc5d1;

$dark_blue: #2f3854;
$middle_blue: #b1bdd1;

$green: #2dcb70;
$blue: #3296d9;
$yellow: #f0c40e;
$red: #e54c3b;

body {
    color: $dark_blue;
    font-family: "Helvetica Neue";
    font-size: $tny;
    line-height: 161.8%
}

html, body, .table, .sidebar {
    height: 100%;
}

.sidebar {
    display: table;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $sm;
    width: 22.5%;

    .cell {
        display: table-cell;
        vertical-align: middle;
    }

    .user_label {
        line-height: 100%;
        font-size: $tny;
        color: $gray;
        margin-bottom: $sm;
    }

    .user {
        font-size: $sm;
    }

    .signout {
        .signout_label {
            display: inline-block;
        }
        
        i {
            color: $gray;
            margin-right: $tny;            
        }
    }
}

h1 {
    color: $dark_blue;
-font-weight: normal;
    font-size: $tny;
    margin-top: $hg;
    text-align: left;
    text-transform: uppercase;
}

table {
    width: 100%;

    tr {
        &:nth-child(2n) {
            background: #eff3ff;
        }
        &:nth-child(2n-1) {
            background: #f7f9ff;
        }
    }

    td {
        padding: $tny;
        width: 50%;

        &:first-child {
            color: $gray;
        }
    }
}

.table {
    display: table;
    text-align:center;
    width: 77.5%;

    .cell {
    }
}

.content {
    width: 46.978rem;
    margin: auto;
    margin-top: $hg;
    padding-bottom: $hg;

    a {
        color: $blue;
        text-decoration: none;
        display: block;
        text-align: left;
    }
}

.title {
    color: $dark_blue;
    font-size: $lg;
    line-height: 100%;
    letter-spacing: -2.25;
    margin-bottom: $tny;
}

.address {
    color: $gray;
    font-size: $sm;
}

.commands {
    overflow: auto;
    margin-bottom: $hg;
}

.name {
    background: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: $sm 0;
    text-align: center;
}

.icon {
    color: #fff;
    display: table;
    float: left;
    font-size: $tny;
    height: $med;
    width: $med;
    text-align: center;

    &.copy {
        background: $green;
        border-radius: 8px 0 0 8px;
    }
    
    &.edit {
        background: $yellow;
    }

    &.delete {
        background: $red;
        border-radius: 0 8px 8px 0;
    }

    i {
        display: table-cell;
        vertical-align: middle;
    }
}

.show {
    color: $blue;
    margin-right: $sm;
    text-align: right;
}