@import "normalize";
@import "fonts";

@mixin padding {
    padding: 4.07em 5.07em;
}

$blue: #9dc3ff;
$dark_blue: #2f3854;
$dark_gray: #cfd2da;
$gray: #e5e7eb;
$mid_blue: #6b7d98;
$light_blue: #e1edff;
$pink: #ff87b2;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.about_us {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
}

.about_us, .locations, .log_in, .register {
    @include padding;

    h1 {
        color: $dark_blue;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        color: $mid_blue;
    }
}

.banner, .top_menu {
    @include padding;
    background: $dark_blue;
    color: #fff;

    h1 {
        font-size: .7071em;
        font-weight: normal;
    }
}

body {
    font: 100%/121.42% 'Helvetica Neue';
}

.bold {
    font-weight: bold;
}

.errors {
    clear: left;
    padding-top: 2.07em;
    
    p {
        color: $pink;
    }
}

.expand_menu {
    background: url('../img/menu_icon.png');
    height: 12px;
    margin-top: .25em;
    width: 2.07em;
}

form {
    overflow: auto;
}

h1 {
    font-size: 100%;
}

.hidden_menu {
    background: $dark_blue;
    color: #fff;
    padding: 0 5.07em 4.07em 5.07em;
}

.icon {
    display: inline-block;
    height: 41px;
    margin-right: 2.07em;
    vertical-align: middle;
    width: 41px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    background: $light_blue;
    color: $mid_blue;
    float: left;
    height: 2.857em;
    outline: none;
    padding: 0 2.07em;
    width: 14.785em;
}

input[type=submit] {
    background: #fff;
    color: $blue;
    margin-top: .85em;
}

input:not(:nth-child(2)) {
    margin-left: 2.07em;
}

.left {
    float: left;
}

li {
    margin-bottom: 1.125em;
}

.locations {
    background: url('../img/BigMap.png');
    background-size: cover;
    background-position: center;
}

#personal_settings_icon {
    background: url('../img/personal_settings_icon.png');
}

.right {
    float: right;
}

.register {
    text-align: center;
}

#sign_out_icon {
    background: url('../img/sign_out_icon.png');
    margin-left: -15px;
    width: 56px;
}

.top_menu {
    overflow: auto;

    h1 {
        font-size: 100%;
        text-transform: uppercase;
    }
}

ul {
    list-style: none;
}
